body {
  /* background-color: darkgreen; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body_background {
  background-image: url(./img/background-crop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.outer_wrap {
  background-image: url(./img/background-crop.jpg);
  height: 1080px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  padding: 0 1rem;
  /* position: relative; */
}

/* .container_index2 {
  padding: 1rem 1rem;
} */

.header_wrap {
  background-color: rgba(245, 245, 220, 0.6);
  height: 2rem;
  padding: 1rem;
}

.main_wrap {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* padding: 1rem; */
}

.main_wrap_index2 {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.left_wrap {
  min-height: 2rem;
  /* 計算減掉 footer 區塊 */
  height: calc(100vh - 6rem);
  width: 50%;
  background-color: rgba(128, 0, 0, 0.5);
  position: relative;
}

.right_wrap {
  min-height: 2rem;
  /* 計算減掉 footer 區塊 */
  height: calc(100vh - 6rem);
  width: 50%;
  background-color: rgba(0, 0, 128, 0.5);
}

.left_wrap_md_70 {
  margin-top: 2rem;
  min-height: 2rem;
  height: calc(100vh - 10rem);
  width: 70%;
  /* background-color: rgba(245, 245, 220, 0.9); */
  position: relative;
}

.right_wrap_md_30 {
  margin-top: 2rem;
  min-height: 2rem;
  height: calc(100vh - 10rem);
  width: 30%;
  background-color: rgba(230, 230, 250, 0.9);
  position: relative;
}

.news_title {
  padding: 2rem;
  font-size: 32px;
}

.news_wrap {
  padding-left: 2rem;
  padding-right: 2rem;
}

.news_wrap li {
  margin-top: 1rem;
}

.news_wrap_index2 {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.news_wrap_index2 li {
  margin-top: 1.2rem;
  border: 2px solid salmon;
  width: 100%;
}

.menu_link {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

/* 撐開左側 wrap */
.title_wrap {
  /* width: 200px; */
  height: 70px;
  margin: 1rem auto;
  background-color: aquamarine;
}

.title_wrap_index2 {
  height: 25%;
  background-color: violet;
  overflow-y: scroll;
}

.image_section {
  background-image: url(./img/800X500.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(75% - 0.5rem);
  margin-top: 0.5rem;
}

.nav_wrap {
  position: absolute;
  bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.first_sect {
  display: flex;
  gap: 1rem;
}

.second_sect {
  display: flex;
  gap: 1rem;
}

.nav_wrap a {
  display: block;
  width: 100px;
  height: 100px;
  background-color: cadetblue;
  border: 2px dashed goldenrod;
}

@media (max-width: 768px) {
  .left_wrap,
  .right_wrap {
    width: 100%;
  }
  .outer_wrap {
    height: initial;
  }

  .left_wrap_md_70,
  .right_wrap_md_30 {
    width: 100%;
  }
}

.footer_wrap {
  height: 4rem;
  /* width: 100%; */
  /* width: calc(100% - 4rem); */
  margin: 0 auto;
  /* position: absolute;
  bottom: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(245, 245, 220);
}

.footer_wrap_index2 {
  height: 6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 192, 203, 0.9);
}
